body{
	font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}
.container{
	width: 40%;

}
.accordion{
	width: 100%;
	padding:0;
	margin: 0;
	list-style-type: none;

}
.accordion-header{
	display:block;
    padding:10px 20px;
    background-color:#00cbcc;
    color:white;
    font-size: 20px;
    text-decoration: none;

}
 .accordion-header:hover{
    background-color:#00e5e6;

 }

.accordion-content p{
    padding: 20px;
    margin: 0 0 20px 10px;
}

.accordion-content{
    transition: height 1.5s ease;
    height: 0;
    overflow: hidden;
    border-width: 1px;
    border-color: #00cbcc;
    border-style: solid;
}
.accordion-content:target{
    height: 110px;
}
